.sam
  .sam__overlay.opacity-overlay
    .sam__firstWin.hide
      .sam__firstWin-info
        .sam__firstWin-title Алоха, ти виграв#[br] фріспіни
        .sam__firstWin-sum 150 FS
        .sam__firstWin-try Залишилась ще #[span.amount #[span 1] спроба]
        .sam__firstWin-btn.btn Крути ще
    .sam__secondWin.hide
      .sam__secondWin-info
        .sam__secondWin-title Алоха, ти виграв!
        .sam__secondWin-sum 4500₴ #[br] 150 FS
        .sam__secondWin-try Реєструйся, бонус та фріспіни на твоєму рахунку
        a(href="https://www.favbet.com/short-register?action=/casino").sam__secondWin-btn.btn Забирай бонус
        .sam__secondWin-rules Правила та умови
    .sam__rules.hide
      .sam__rules-close
      .sam__rules-txt
        .sam__rules-txt-title Як отримати Фріспіни?
        ul.sam__rules-txt-list
          li.sam__rules-txt-item Зроби депозит від 150 UAH.
          li.sam__rules-txt-item В особистому кабінеті у розділі “Бонуси” у вкладці “Фріспіни” натисни кнопку «Старт».
          li.sam__rules-txt-item Зроби будь-яку ставку.
          li.sam__rules-txt-item Як тільки ставку зроблено — натисни «Прийняти» та забирай спіни.
        .sam__rules-txt-info Бонусна пропозиція дійсна протягом 5 днів.
        .sam__rules-txt-title Як отримати Бонус 4500 на Депозит
        ul.sam__rules-txt-list
          li.sam__rules-txt-item Внеси кошти на ігровий рахунок від 100 UAH.
          li.sam__rules-txt-item Натисни "Старт" протягом 48 годин після поповнення рахунку, щоб активувати грошовий бонус у розмірі 100% від суми депозиту. В тебе буде 10 днів, щоб відіграти бонус.
          li.sam__rules-txt-item Виконай умови бонусу та прийми його в “Особистому кабінеті”.
          li.sam__rules-txt-item Після прийняття бонусу він зарахується на твій ігровий гаманець.
          li.sam__rules-txt-item Бонус «Ставка без ризику» – страхування** ставки на суму до 500 UAH нараховується автоматично і без додаткових умов.
        .sam__rules-txt-more
          | Детальніше про бонус на депозит 4500 тут: #[br]
          a(href="https://www.favbet.com/promos/promo/new_welcome/" target="_blank") https://www.favbet.com/promos/promo/new_welcome/
      a(href="https://www.favbet.com/short-register?action=/casino").sam__rules-btn.btn Забирай бонус
  .sam__main
    .sam__main-logo
    .sam__main-btns
      a(href="https://www.favbet.com/uk/login/" target="_blank").sam__main-btns-login Вхід
      a(href="https://www.favbet.com/uk/short-register/" target="_blank").sam__main-btns-reg.btn Реєстрація
    .sam__main-lampsLight
    .sam__main-lamps
    .sam__main-wrapper
      .sam__main-left
        .sam__main-left-try
          span У тебе
          span.try-number 2 спроби
        img(src="img/coala.png" alt="Favbet").desk
      .sam__main-wheel
        .sam__main-wheel-wrap
          .sam__main-wheel-arrow.position
          .sam__main-wheel-btn.position.pulse-btn
            span Крути
          .sam__main-wheel-bulbs1.position
          .sam__main-wheel-bulbs2.position
          .sam__main-wheel-frame
          .sam__main-wheel-reel.position
          .sam__main-wheel-light.position
          .sam__main-wheel-bottom.position
      .sam__main-txt Крути колесо — забирай бонуси
    .sam__main-video
      video(autoplay muted loop).sam__main-video-bg
  .sam__infoMob
    .sam__infoMob-coala
    .sam__infoMob-arrow
    .sam__infoMob-leaf-1
    .sam__infoMob-leaf-2
    .sam__infoMob-leaf-3
    .sam__infoMob-leaf-4
    .sam__infoMob-txt
      .sam__infoMob-txt-title Правила та умови
      ul.sam__infoMob-txt-list
        li.sam__infoMob-txt-item Крути колесо
        li.sam__infoMob-txt-item Вигравай бонус
        li.sam__infoMob-txt-item Реєструйся та роби депозит
        li.sam__infoMob-txt-item Бонус на твоєму рахунку!
      .sam__infoMob-txt-more Детальніше
  .sam__footer
      .sam__footer-rules Правила та умови
      .sam__footer-icons
        .sam__footer-icons-wrap
          .sam__footer-icons-age
          .sam__footer-icons-applePay
          .sam__footer-icons-googlePay
          .sam__footer-icons-visa
          .sam__footer-icons-mcard
        .sam__footer-icons-wrap
          a(href="https://app.appsflyer.com/id1076305677?af_cost_model=CPI&pid=prilamedibuy&af_sub1=2885&af_sub2=1858&af_sub3=yarmola_land4500_&af_sub4=141&af_click_lookback=7d" target="_blank").sam__footer-icons-apple
          a(href="https://www.favbet.com/static/media/android-files/version3/Favbet_v.3.0.27.apk" target="_blank").sam__footer-icons-google
  .sam__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ